body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #a7e952;
    color: #222020;
    text-align: center;
    padding: 20px;
  }
  
  nav ul {
    font-size: 25px;
    text-align: center;
    list-style-type: none;
    background-color: #60a803;
    margin: 0;
    padding: 10px;
  }
  
  nav li {
    display: inline;
    margin: 10px;
  }
  
  nav a {
    text-decoration: none;
    font-weight: bold;
    font-size: 25px;
    color: #fff;
  }
  
  main {
    margin: 20px;
    padding: 20px;
  }

  h1 {
    font-size: 24px; /* Tamaño del título */
}

.logo {
  margin-right: 20px; /* Espacio entre el logo y el título */
  
}

.logo img {
  transition: transform 0.3s;; /* Duración de la transición y propiedad a animar */
}

.logo img:hover {
  transform: scale(1.2); /* Opacidad reducida */
}