body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #b6df9f;
    color: #fff;
    text-align: center;
    padding: 20px;
  }
  
  nav ul {
    font-size: 25px;
    text-align: center;
    list-style-type: none;
    background-color: #60a803;
    margin: 0;
    padding: 0;
  }
  
  nav li {
    display: inline;
    margin: 10px;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
  }
  
  main {
    margin: 20px;
    padding: 20px;
  }
